
.image{
    background-image: url("image6.jpg");
}
.hr{
    width: 1250px;

    color: white;
    
}
.hr1{
    width: 90px;
    color: white;
}
.bi{
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin-top: -780px;
    
    
}
.coded{
    color: white;
    font-weight: 500;
    margin-top: -20px;
    margin-left: 30px;
    font-size: 20px;
}
.pro{
    position: relative;
    color: white;
    text-align: left;
    margin-left: 20px;
}
.logo{
    color: white;
    font-weight: 500;
    position: relative;
    margin-left: 250px;
    margin-top: 50px;
    
}
.fly{
    color: white;
    font-weight: 300;
    margin-left: 290px;
    font-size: 50px;
    margin-top: -50px;
}
.bus{
    color: white;
    font-size: 150px;
    margin-left: 290px;
}
.cre{
    color: white;
    margin-left: 290px;
}
.a{
    position: relative;
    color: white;
    font-weight: 800;
    font-size: 100px;
    margin-left: 250px;

}
.p1{
    color: white;
    position: relative;
    text-align: right;
    margin-right: 10px;
}
.h2{
    color: white;
    width: 30px;
}
.site{
    color: white;
    text-align: center;
    margin-top: -360px;
}
.gra{
    color: white;
    margin-left: 50px;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 500;
}
.simbol{
   margin-top: 200px;
}
.sim{
    color: white;
   margin-top: -410px;
   margin-left: 100px;
}
.phone{
    padding-top: 400px;
    padding-bottom: 50px;
}
.icon{
    margin-top: 400px;
}
